:root {
  --colorgray: rgb(213, 214, 217);
  --colorbeige: rgb(251, 239, 225);
  --colorrose: rgb(251, 211, 197);
  --colormarron: rgb(212, 182, 164);
  --colortext: rgb(84, 73, 67);

  --roboto: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 226, 226);
  font-family: var(--roboto);
}

p#textVille {
  padding: 0px 100px;
}

/* En-tête */

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 50px 100px;
}

header input {
  background: transparent;
  border: none;
  border-bottom: solid 1px black;
  padding: 10px 20px;
  outline: none;
  margin-bottom: 20px;
}

header input::placeholder {
  padding: 0px;
}

header button {
  background: var(--colormarron);
  padding: 10px 20px;
  border: none;
}

header nav ul li {
  display: inline;
  padding: 10px;
}

header nav ul li a {
  text-decoration: none;
}

/* Texte et barre de recherche */

#meteo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: stretch;
  padding: 0px 100px 50px 100px;
  gap: 10px;
}

#city:not(input) {
  font-size: 45px;
  font-weight: 600;
}

#blockone #contentloc {
  background-image: url("https://cdn4.regie-agricole.com/ulf/CMS_Content/2/articles/837541/_himmel-wolken-regen-fenster-1000x562.jpg");
  background-size: 150%;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
}

#blockone #contentloc img#wIconMain {
  width: 20%;
  margin: 20px 0px 0px 20px;
}

#blockone #contentloc p#tempMain {
  font-size: 48px;
  margin: 10px 0px 0px 10px;
}

#blockone #contentloc p#date {
  font-size: 21px;
  margin: 10px 0px 0px 10px;
  position: absolute;
  bottom: 3%;
}

/* BlockTwo */

/* #contenttempone,
#contenttemptwo,
#contenttempthree,
#contenttempfour {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 10px 10px 10px;
  padding: 10px;
  background: white;
} */

#blocktwo {
  width: 100%;
  align-items: stretch;
}

#blocktwo #contenttempone,
#blocktwo #contenttemptwo,
#blocktwo #contenttempthree,
#blocktwo #contenttempfour {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  align-items: center;
  gap: 10px;
}

img#wIconOne,
img#wIconTwo,
img#wIconThree,
img#wIconFour {
  width: 35%;
}
